html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(40, 35, 35), rgb(67, 67, 67));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.gameSec {
    display: flex;
}

.gameSec .btnS>button {
    padding: 18px;
    border: none;
    border-radius: 8px;
    margin: 8px;
    font-size: 50px;
    cursor: pointer;
}

.resultSec>div p {
    font-size: large;
    font-weight: 700;
    text-align: center;
    margin: 6px;
    color: white;
}

.resetSec>.btnS>button {
    padding: 18px;
    border: none;
    border-radius: 5px;
    margin: 8px;
    font-size: 50px;
    cursor: pointer;
}